p {
    text-align: center; color: #F041EC
}
#para1 {
    text-align: center; color: #F04183
}
.center {
    text-align: center; color:white;
}

body {
    background: #AB10F5;
    font-family: Arial;
    font-size: large;
}
h1 {
    text-align: center;
    background: white;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
    width: 60%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}

.project img{
    width: 750px;
    height: 240px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
    }













