p {
    text-align: center; color: #F041EC
}
#para1 {
    text-align: center; color: #F04183
}
.center {
    text-align: center; color:white;
}

body {
    background: #AB10F5;
    font-family: Arial;
    font-size: large;
}
h1 {
    text-align: center;
    background: white;
}















